@import url('reset.css');

@import url('http://fonts.googleapis.com/css?family=Kite+One');
/* Source: http://www.google.com/fonts#QuickUsePlace:quickUse/Family:Kite+One */
/* Use of converted font file - using fontfacegenerator from everythingfonts.com, place files into fonts folder and copy the css below
@font-face {
  font-family: 'GrinchedRegular';
  src: url('../fonts/grinched.eot');
  src: url('../fonts/grinched.eot') format('embedded-opentype'), url('../fonts/grinched.woff') format('woff'), url('../fonts/grinched.ttf') format('truetype'), url('../fonts/grinched.svg#GrinchedRegular') format('svg');
}
 Colour scheme Monotone */
/* Mixins */
/* Default styles */
body {
  font-family: 'Kite One', sans-serif;
  text-resize: none;
  max-width: 60em;
  margin: 0 auto;
}
h1,
h2,
h3,
p {
  margin: 1em 0 0.5em 0;
}
h1 {
  text-transform: uppercase;
  margin-top: 3em;
  font-size: 2em;
  padding: 1em 0.5em;
}
h2,
h3 {
  font-size: 1.5em;
}
header nav,
footer nav {
  background-image: -webkit-linear-gradient(top, #000000, #1a1a1a);
  background-image: -moz-linear-gradient(top, #000000, #1a1a1a);
  background-image: -ms-linear-gradient(top, #000000, #1a1a1a);
  background-image: -o-linear-gradient(top, #000000, #1a1a1a);
  background-image: linear-gradient(top, #000000, #1a1a1a);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
header nav li,
footer nav li {
  display: inline-block;
}
header nav a,
footer nav a {
  color: #999999;
  text-decoration: none;
  display: block;
  padding: 1em;
}
footer {
  position: absolute;
  right: 0;
  left: 0;
}
footer nav {
  position: static;
  margin-bottom: 1em;
}
.more a {
  text-decoration: none;
  display: block;
  padding: 0.5em;
  color: #999999;
  background-image: -webkit-linear-gradient(top, #000000, #1a1a1a);
  background-image: -moz-linear-gradient(top, #000000, #1a1a1a);
  background-image: -ms-linear-gradient(top, #000000, #1a1a1a);
  background-image: -o-linear-gradient(top, #000000, #1a1a1a);
  background-image: linear-gradient(top, #000000, #1a1a1a);
  margin: 0.5em 0 1em 0;
}
.more a:after {
  content: "\00bb";
}
@media only screen and (min-width: 31em) {
  header nav a {
    padding: 1em 2em;
  }
  .more {
    display: none;
  }
  section {
    display: table;
  }
  section article {
    display: table-row;
  }
  section article div {
    width: 45%;
    display: table-cell;
    padding: 1em 2.5%;
  }
}
